/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .bwd-wrap form {
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    max-width: 550px;
}

.bwd-wrap h1,
.bwd-wrap p, 
.bwd-wrap .form-table {
    margin: 0 0 15px;
}

.bwd-wrap h2 {
    margin: 0;
}

.bwd-wrap .form-table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.bwd-wrap .form-table th,
.bwd-wrap .form-table td {
    padding: 0 0 5px;
    width: auto;
}

.bwd-wrap input[type="text"] {
    width: 100%;
}